:root {
    --color-black: rgba(18, 18, 18, 1);
    --color-text: rgba(255, 255, 255, 1);

}


.hero {
  background-color: var(--color-black);
  color: var(--color-text);
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}
