.navbar {
  background: rgba(52, 201, 75, 1);
  height: 74px;
  width: 97vw;
  padding: 0px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchBar {
  height: 48px;
  width: 68px;
}
