body{
    background-color: rgba(18, 18, 18, 1);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}